includes:
    - vendor/pepakriz/phpstan-exception-rules/extension.neon
parameters:
    level: 8
    paths:
        - src
    ignoreErrors:
        # Skip looping errors in array shapes
        #   https://github.com/phpstan/phpstan/issues/3339
        - '#Array \(array<int, float>\) does not accept key int<min, \d>.#'
    exceptionRules:
        reportUnusedCatchesOfUncheckedExceptions: false
        reportUnusedCheckedThrowsInSubtypes: false
        reportCheckedThrowsInGlobalScope: false
        checkedExceptions:
            - RuntimeException
